@model IEnumerable<ES2.Models.Atividade>

@if (Model.Any())
{
    @foreach (var atividade in Model)
    {
        <tr>
            <td>@atividade.Nome</td>
            <td>@(atividade.IdEventoNavigation?.Nome ?? "-")</td>
            <td>@(string.IsNullOrWhiteSpace(atividade.Local) ? "-" : atividade.Local)</td>
            <td>@(atividade.IdCategoriaNavigation?.Nome ?? "-")</td>
            <td>@(atividade.Capacidade.ToString() ?? "-")</td>
            <td class="text-end">
                <a asp-action="Participantes" asp-route-id="@atividade.IdAtividade" class="btn btn-sm btn-outline-info">
                    <i class="bi bi-people"></i> Participantes
                </a>
                <a asp-action="Editar" asp-route-id="@atividade.IdAtividade" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a asp-action="ConfirmarRemocao" asp-route-id="@atividade.IdAtividade" class="btn btn-sm btn-danger ms-1">
                    <i class="bi bi-trash"></i> Remover
                </a>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="6" class="text-center py-4">Nenhuma atividade encontrado.</td>
    </tr>
}
